.about {
  background-color: black;
  padding: 2em 5em 0 3em;
}

.about > h1 {
  text-align: center;
  font-size: 3rem;
}

.about > h1:before {
  content: "About";
  position: absolute;
  top: 35px;
  transform: scale(1.3);
  opacity: 25%;
}

.about > .about-col {
  display: grid;
  column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1em 0 3em 0;
}

.img-div {
  position: relative;
  margin-bottom: 1em;
}

.img-div > img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(97, 97, 97, 0.7);
}

.img-caption {
  text-align: center;
  width: 100%;
  color: #868686;
  margin: -10px;
}

.about > .about-col > .about-col1,
.about-col2 {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 34px;
}
