/*** global ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.5rem;
  color: white;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: #454e56;
}

body::-webkit-scrollbar-thumb {
  background-color: #b2becd;
  border-radius: 20px;
  border: 2px solid #454e56;
}

a {
  text-decoration: none;
}

/*** global ***/

main > .page {
  min-height: 100vh;
  width: 100%;
}

/*** home ***/
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/home-background.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.home > div {
  text-align: center;
  line-height: 3rem;
}

.home > div > h1 {
  font-size: 5rem;
}

.home > div > h3 {
  font-size: 1.5rem;
}
/*** home ***/

/*** navbar ***/
.navbar {
  display: grid;
  place-items: center;
  background-color: #2a2e35;
  padding: 2em 0.5em;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar > div {
  display: grid;
  gap: 0.7em;
}

.navbar > div > a {
  background-color: #444e57;
  color: #b2becd;
  font-size: 1.6rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.3);
  transition: 0.3s ease;
}

.navbar > div > a:hover {
  background-color: #b2becd;
  color: #454e56;
}

.navbar > div > a.active-btn {
  background-color: #b2becd;
  color: #454e56;
}
/*** navbar ***/

/*** copyright ***/

.copyright {
  background-color: black;
  color: #b2becd;
  padding: 0 0.5rem;
  font-size: 1rem;
  position: fixed;
  left: 10px;
  bottom: 0;
}

/*** copyright ***/
