/*** global ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: #454e56;
}

body::-webkit-scrollbar-thumb {
  background-color: #b2becd;
  border-radius: 20px;
  border: 2px solid #454e56;
}

a {
  text-decoration: none;
}

/*** global ***/

.page {
  min-height: 100vh;
  width: 100%;
  padding: 2em 6em 2em 1em;
  background-color: #121212;
}

/*** home ***/
.home {
  padding: 1em 4em 0 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/home-background.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.home > div {
  text-align: center;
  line-height: 3rem;
}

.home > div > h1 {
  font-size: 5rem;
}

.home > div > h3 {
  font-size: 1.5rem;
}
/*** home ***/

/*** navbar ***/
.navbar {
  width: 6em;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  right: 0;
  background: transparent;
  overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar > div {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

.navbar > div > a {
  font-size: 1.5rem;
  background-color: #444e57;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  color: #b2becd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar > div > a:hover {
  background-color: #b2becd;
  color: #454e56;
}

.navbar > div > a.active-btn {
  background-color: #b2becd;
  color: #454e56;
}

/*** navbar ***/

/*** copyright ***/

.copyright {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444e57;
  color: #b2becd;
  font-size: 1rem;
}

/*** copyright ***/

@media only screen and (max-width: 600px) {
  .page {
    padding-right: 1em;
  }

  .navbar {
    background-color: #191d2b;
    inset: 0 0 0 0;
    right: inherit;
    top: inherit;
    height: inherit;
    padding: 1em 0;
    width: 100%;
  }

  .navbar > div {
    margin: 0;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
  }

  .copyright {
    margin-bottom: 5em;
  }
}
